@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background-color: #212121;
}

/* navbar */

header {
  padding: 20px;
  border-bottom: 1px solid #3d3d3d;
  background-color: #050505;
}




.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-direction: row;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search-bar {
  background-color: #3d3d3d;
  border: none;
  outline: none;
  padding: 14px;
  width: 15rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.btn-primary {
  background-color: #d88b2a;
  border: none;
  outline: none;
  padding: 14px 24px;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* hero section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  padding: 50px;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #3d3d3d;
}

.left-sub-section {
  display: flex;
  /* for adding direction in flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-hero-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;

}

.left-hero-desc {
  color: #c7c7c7;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;
}


.subheading {
  color: #c7c7c7;
  font-size: 20px;
  font-weight: 400;

}

.intro {
  color: #c7c7c7;
  font-size: 15px;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.btn-secondary {
  background-color: #3d3d3d;
  border: 1px solid #d88b2a;
  outline: none;
  padding: 14px 24px;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-sub-section {
  margin-left: 40px;
}

.img-container {
  border-radius: 100%;
  overflow: hidden;
  border: 25px solid #3d3d3d;
}

/** Newest Item */

#newest-section {
  padding: 50px;
  width: 100%;
  height: auto;
  background-color: #050505;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.upper-section-title {
  color: white;
  font-size: 2rem;

}

.lower-section {
  margin-top: 60px;


}

.lower-section-ul {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;

}

.card-item {
  list-style: none;
}

.card-container {
  position: relative;
  background-color: #262626;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #3d3d3d;
}


.card-banner-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 210px;
  margin-bottom: 20px;
}

.card-banner-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-banner-action {
  position: absolute;
  top: 10px;
  right: 20px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-menu-bar {
  background-color: #d88b2a;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-heart {
  background-color: #3d3d3d;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeaea;
  cursor: pointer;
}

.btn-heart.active {
  color: #ed3030;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.card-title {
  color: white;
  font-size: 17px;
  font-weight: 500;
}



.user-img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #050505;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.user-fullname {
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.user-username {
  color: #c7bcbc;
  font-size: 8px;
  font-weight: 300;
}

.user-username:hover {
  color: #d88b2a;
  cursor: pointer;
}


.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-footer-text {
  margin-top: 8px;
  color: #c7bcbc;
  font-size: 14px;
  font-weight: 300;
}


.card-footer-btn {
  background-color: #d88b2a;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;

}

/* *  Section Css */
#about {
  padding: 50px;
  border-bottom: 1px solid #3d3d3d;
  background-color: #050505;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.about-title {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}

.about-items-list {
  position: relative;
  list-style: none;
  background-color: #1c1c1c;
  border-radius: 4px;
  padding: 20px;

}

.about-item {
  position: relative;
  padding: 30px 10px 20px;
  border: 1px solid #3d3d3d;
  border-radius: 4px;

}

.about-item::before,
.about-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: #c7bcbc;
  border-radius: 10px;
}


.about-item::before {
  height: 100px;
  width: 3px;
}

.about-item::after {
  height: 3px;
  width: 100px;
}


.card-number {
  background-color: #262626;
  color: #3d3d3d;
  padding: 5px 15px;
  position: absolute;
  top: -15px;
  left: -15px;
  border-top-left-radius: 10px;
  border: 15px solid #1c1c1c;
  font-size: 28px;
  font-weight: 600;


}


.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}


.image-container i {
  color: #FFD43B;
}

.about-desc {
  font-size: 15px;
  color: #c7bcbc;
  font-weight: 400;

}


.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #f0f0e6;
}

.info {
  text-align: center;
}


.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 213px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  z-index: 1;
}

.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 90%;
}

.progress-line .css {
  width: 70%;
}

.progress-line .java {
  width: 63%;
}

.progress-line .javascript {
  width: 23%;
}

.progress-line .c {
  width: 57%;
}

.progress-line .python {
  width: 6%;
}

.progress-line .react {
  width: 0.7%;
}

.progress-line .nodejs {
  width: 2%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #07374a;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "90%";
}

.progress-line .css::after {
  content: "70%";
}

.progress-line .java::after {
  content: "63%";
}

.progress-line .javascript::after {
  content: "23%";
}

.progress-line .c::after {
  content: "57%";
}

.progress-line .nodejs::after {
  content: "2%";
}

.progress-line .python::after {
  content: "6%";
}

.progress-line .react::after {
  content: "0.7%";
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}



.contact {
  background-color: black;

}

.contact-content {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px 20px 20px 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  list-style: none;
}

